.align-item-center {
  align-items: center;
}

.bg-light {
  background-color: $white-ter;
}

.is-circle {
  overflow: hidden;
  border-radius: 50%
}

.is-sticky {
  position: sticky;
  top: 1rem;
}

.card-equal-height {
  height: 230px;
}

// prevent scroll on popup
.popup-shown {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  overflow-y: scroll; /* render disabled scroll bar to keep the same width */
}

// spacing helper
$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;

$spacers: ();

@for $i from 0 through 5 {
  $spacers: map-merge($spacers, (
          $i: (
                  x: $spacer-x * $i,
                  y: $spacer-y * $i
          )
  ))
}

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $lengths in $spacers {
    $length-x:   map-get($lengths, x);
    $length-y:   map-get($lengths, y);

    .#{$abbrev}-a-#{$size} { #{$prop}:        $length-y $length-x !important; } // a = All sides
    .#{$abbrev}-t-#{$size} { #{$prop}-top:    $length-y !important; }
    .#{$abbrev}-r-#{$size} { #{$prop}-right:  $length-x !important; }
    .#{$abbrev}-b-#{$size} { #{$prop}-bottom: $length-y !important; }
    .#{$abbrev}-l-#{$size} { #{$prop}-left:   $length-x !important; }

    // Axes
    .#{$abbrev}-x-#{$size} {
      #{$prop}-right:  $length-x !important;
      #{$prop}-left:   $length-x !important;
    }
    .#{$abbrev}-y-#{$size} {
      #{$prop}-top:    $length-y !important;
      #{$prop}-bottom: $length-y !important;
    }
  }
}
