// Variables
@import "variables";

// helpers
@import "helpers";

// Bootstrap
@import "~bulma";

// App Specific
body {
  padding-top: 3rem;
  background-color: $white-ter;
}

// Nav
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 6px 4px rgba(136, 136, 136, 0.11);
}

.is-loading {
  position: relative;
  cursor: default;
  pointer-events: none;

  &.is-transparent {
    opacity: 0.3;
    transition: opacity 0.3s ease;
  }

  &:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid $turquoise;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    position: relative;
    opacity: 1;
    width: 1em;
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important;
  }
}

.sub-nav {
  height: 4rem;
  background-color: $white;
  box-shadow: $box-shadow;

  .profile-pic {
    margin-top: -11rem;
    width: 90%;
  }
}

// Tweet
.tweets {
  margin-bottom: 1rem;

  .level-item {
    margin-right: 1.6rem!important;
  }
  .tweet {
    .image img{
      transition: all ease 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
    .tweet-meta {
      margin-bottom: .4rem;
    }
    .media-content .tweet-body{
      cursor: pointer;
    }
    .icon { margin-right: .5rem }
  }
}

// Profile card
.profile-card {
  .card-image {
    min-height: 74px;
    background-color: $white-ter;
  }

  .card-content {
    padding: .6rem 1rem 1.2rem;

    .level {
      margin-top: 1.4rem;
    }
  }

  .image.is-circle {
    margin-top: -2rem;
    border: 2px solid $white;
    width: 64px;
    height: 64px;
    background-color: $white-ter;
  }
}

.profile-cover {
  background-size: cover!important;
}

.tabs.is-borderless {

  ul, a {
    border: none;
  }
}

// Tweet details
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
  overflow: auto;
}

.modal-wrapper {
  position: relative;
}

.modal-container {
  border-radius: .5rem;
  max-width: 640px;
  width: 96%;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .5);
  transition: all .3s ease;
  position: absolute;
  top: 5%;
  left: 50%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: -320px;
  position: relative;
}

a.button-close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: $turquoise;
  transition: transform ease 0.3s;

  &:hover {
    background-color: $green;
    transform: rotate(90deg);
  }
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin-top: 1.4rem;
}
.tweet-meta {
  font-size: .9rem;
}
.modal-footer {
  margin-top: 1rem;
  border-top: 1px solid $grey-lighter;
}

.modal-default-button {
  float: right;
}

// Transition classes
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

// Reply body
.replies {
  .reply {
    border-top: none;

    .reply-body {
      background-color: lighten($turquoise, 50);
      padding: 1rem;
      border-radius: .6rem;
    }

    .reply-meta {
      font-size: .8rem;
      margin-top: .4rem;
    }
  }
}